extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src='/socket.io/socket.io.js')
  script
      var socket = io.connect('/');
        socket.on('hoge', function (data) {
            console.log(data);
            document.getElementById("message").innerHTML += data + "<br>";
        });

      function submit(){
        var message = document.getElementById("msg").value;
        socket.emit("msg",message);
      }

  input(name='msg')#msg
  button(onclick='submit()') Submit

  #message

